@page
@model RecruitCatDalalmk.Pages.Industries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Industries</h1>


<p>
    <a asp-page="Create">Create a new Industry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].IndustryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].NumberOfCompanies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].IsEmerging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].EstablishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].AverageSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].EmployeeCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Industry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCompanies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmerging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IndustryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IndustryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IndustryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
